$themeColor: #877ebd;

$success: #735474;
$default: #D7D9DB;
$primary: #735474;
$danger: #9e0036;
$warning: #e5730b;

$themeDarkerColor: #615B95;
$themeLighterColor: #D7D9DB;

$colorBgr: $themeDarkerColor;
$colorBorder: #615B95;
$colorText: #ffffff;

$colorContrastBgr: #877ebd;
$colorContrastBorder: transparent;
$colorContrastText: #ffffff;

$standardPadding: 20px;

$borderRadius: 2px;
