$themeColor: #877ebd;

$success: #639733;
$default: #5f5f5f;
$primary: #9e0036;
$danger: #9e0036;
$warning: #e5730b;

$colorBgr: #efefef;
$colorText: darken($themeColor, 25%);
$colorBorder: darken($themeColor, 20%);

$standardPadding: 20px;

