@import 'vars';

input[type=search],
input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=date],
input[type=datetime],
input[type=email],
textarea {
  background-color: $colorBgr;
  border-radius: 2px;
  font: 13px/1 'Open Sans', sans-serif;
  border: 1px solid $colorBorder;
  --webkit-appearance: none;
  line-height: 38px;
  padding: 0 16px;
  outline: none;
  height: 40px;
  color: $colorText;

  &::placeholder {
    color: lighten($colorBgr, 10%);
  }
  &[disabled] {
    opacity: 0.4
  }
}

textarea {
  height: auto;
  line-height: 20px;
  padding: 13px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-inline {
  display: table;
  margin-bottom: $standardPadding;
  .form-group {
    line-height: 27px;
    display: table-cell;
    padding-right: 20px;
  }
}

.form-group {
  margin-bottom: $standardPadding;
}

.form-error {
  color: $danger;
}

.search {
  position: relative;
  input {
    width: 100%;
    border-radius: 0;
    border: 1px solid $colorBorder;
  }
  &::after {
    font-family: FontAwesome;
    content: '\0f002';
    position: absolute;
    right: 15px;
    top: 9px;
    color: #ccc;
  }
}

.form-group {
  input.form-control {
    display: block;
    width: 100%;
  }
}


button, input[type=submit], input[type=reset], .btn {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  line-height: 38px;
  font: 13px/1 'Open Sans', sans-serif;
  color: #fff;
  padding: 0 16px;
  border: 0;
  border-radius: $borderRadius;
  --webkit-appearance: none;
  outline: none;

  &.btn-default {
    background-color: $default;
    &:hover, &:focus, &:active {
      background-color: darken($default, 10%);
    }
  }

  &.btn-success {
    background-color: $success;
    &:hover, &:focus, &:active {
      background-color: darken($success, 10%);
    }
  }

  &.btn-danger {
    background-color: $danger;
    &:hover, &:focus, &:active {
      background-color: darken($danger, 10%);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-block {
  width: 100%;
}
